<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteSearch">
  <test thread-count="5" name="SearchItem">
    <classes>
      <class name="validations.SearchProduct"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- SuiteSearch -->
